/* App.css */

.App {
  text-align: center;

}

.navbar {
  background-color: #F1B4BB;
}

.navbar-nav {
  padding: 10px;
}

.nav-link {
  color: white;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
}


.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-inner {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
