/* Container pour la page entière */
.pageWrapper {
    padding: 6%;
    display: flex;
    flex-direction: column-reverse; /* Afficher les messages de bas en haut */
    height: 100vh; /* Hauteur de la vue à 100% de la hauteur de l'écran */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

/* Message box */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
}

/* User message */
.me {
    background-color: #007bff; 
    color: #fff; 
    align-self: flex-end;
}

/* Bot message */
.bot {
    background-color: #ece5dd; 
    align-self: flex-start;
}

/* Input field */
.inputField {
    width: calc(100% - 100px); /* Prendre la largeur restante après avoir soustrait la largeur du bouton envoyer */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Coins arrondis */
}

/* Send button */
.sendButton {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px; /* Espacement à gauche du bouton envoyer */
    background-color: #007bff; /* blue */
    color: #fff;
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
}
.avatar {
  width: 30px; /* Ajustez la taille de l'avatar selon vos préférences */
  height: 30px; /* Ajustez la taille de l'avatar selon vos préférences */
  border-radius: 50%; /* Rend l'image circulaire */
  object-fit: cover; /* Évite que l'image ne soit déformée */
}
.messageTimestamp {
  font-size: 12px; /* Taille de la police */
  color: #666; /* Couleur du texte */
  margin-top: 5px; /* Espacement par rapport au message */
}


/* Send button hover */
.sendButton:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Chat container */
.chatContainer {
    position: fixed; /* Position fixe pour rester en bas de la page */
    bottom: 0; /* Aligner en bas */
    right: 0; /* Aligner à droite */
    width: 100%; /* Prendre toute la largeur */
    max-height: 50%; /* Limiter la hauteur pour empêcher le chat de couvrir tout l'écran */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}
/* Chatbot container */
.chatContainer {
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 1000;
    
  }
  
  /* Chat icon */
  .chatIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Chat icon message */
  .chatIconMessage {
    position: fixed;
    bottom: 70px;
    right: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1001;
  }
  
  /* Chat icon message show animation */
  @keyframes slideInFromRight {
    from {
      right: -200px;
    }
    to {
      right: 5px;
    }
  }
  