/* chatbot.css */

/* Chat container */
/* chatbot.css */

/* Container pour la page entière */
/* chatbot.module.css */

/* Container pour la page entière */
.pageWrapper {
    display: flex; /* Utiliser Flexbox pour disposer les éléments horizontalement */
}

/* Style de la partie gauche */
.leftPanel {
    flex: 1; /* La partie gauche prendra autant d'espace que possible */
    padding: 20px;
    border-right: 1px solid #ccc; /* Ajouter une bordure pour séparer les deux parties */
}

/* Style de la partie droite */
.rightPanel {
    flex: 1; /* La partie droite prendra autant d'espace que possible */
    padding: 20px;
    max-height: 50%;
    max-width: 80%;

}


/* Ajoutez vos styles spécifiques pour la partie gauche et la partie droite ici */

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Message box */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* User message */
.me {
    background-color: #dff0d8; /* light green */
}

/* Bot message */
.bot {
    background-color: #d9edf7; /* light blue */
}

/* Input field */
.input-field {
    width: calc(100% - 80px); /* Adjust based on button width */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Send button */
.send-button {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff; /* blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Send button hover */
.send-button:hover {
    background-color: #0056b3; /* Darker blue */
}
