/* chatbot.module.css */

/* Container pour la page entière */
.pageWrapper {
    display: flex;
    flex-direction: column-reverse; /* Afficher les messages de bas en haut */
    height: 100%; /* Assurer que le chat occupe toute la hauteur de l'écran */
}

/* Message box */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px; /* Coins arrondis */
    max-width: 70%; /* Limiter la largeur des bulles de message */
}

/* User message */
.me {
    background-color: #007bff; /* Couleur bleue similaire à Messenger */
    color: #fff; /* Texte blanc */
    align-self: flex-end; /* Aligner à droite */
}

/* Bot message */
.bot {
    background-color: #ece5dd; /* Couleur beige similaire à Messenger */
    align-self: flex-start; /* Aligner à gauche */
}

/* Input field */
.inputField {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Coins arrondis */
}

/* Send button */
.sendButton {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff; /* blue */
    color: #fff;
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
}

/* Send button hover */
.sendButton:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Rendre l'avatar rond */
    margin-right: 10px; /* Espacement entre l'avatar et le message */
}
