/* Container pour la page entière */
.pageWrapper {
    padding: 6%;
    display: flex;
    flex-direction: column-reverse; /* Afficher les messages de bas en haut */
    height: 100vh; /* Hauteur de la vue à 100% de la hauteur de l'écran */
    overflow-y: hidden; /* Activer le défilement vertical si nécessaire */
}

/* Message box */
.message {
    margin: 5px;
    max-width: 70%;
    display: flex;
    flex-direction: column; /* Pour aligner la date et l'heure en dessous */
}

/* User message */
.me {
    align-self: flex-end;
}

/* Bot message */
.bot {
    align-self: flex-start;
}

/* Texte du message */
.messageText {
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    word-wrap: break-word; /* Ajout de la propriété pour gérer les messages longs */
}

/* Date du message */
.messageTimestamp {
    font-size: 12px;
    color: #fff;
    margin-top: 2px;
}

/* Couleur du texte de l'utilisateur */
.userMessage {
    background-color: #F1B4BB; /* Bleu */
    color: #fff; /* Blanc */
    border-radius: 20px; /* Coins arrondis */
    border: 1px solid #ccc;
    margin: 3px;
}

/* Couleur du texte du chatbot */
.botMessage {
    background-color: #ece5dd; /* Gris clair */
    color: #000; /* Noir */
    border-radius: 20px; /* Coins arrondis */
    border: 1px solid #ccc;
    margin: 3px;
}

/* Input field */
.inputField {
    width: calc(100% - 100px); /* Prendre la largeur restante après avoir soustrait la largeur du bouton envoyer */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Coins arrondis */
}

/* Send button */
.sendButton {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px; /* Espacement à gauche du bouton envoyer */
    background-color: #1d3063; /* Bleu */
    color: #fff;
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
}

/* Avatar */
.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* Chat container */
.chatContainer {
    position: fixed; /* Position fixe pour rester en bas de la page */
    bottom: 0; /* Aligner en bas */
    right: 0; /* Aligner à droite */
    width: 100%; /* Prendre toute la largeur */
    max-height: 50%; /* Limiter la hauteur pour empêcher le chat de couvrir tout l'écran */
    overflow-y: hidden; /* Activer le défilement vertical si nécessaire */
    z-index: 1000; /* Assurez-vous que le conteneur de chat est au-dessus des autres éléments */
}

/* Chat icon */
.chatIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Chat icon message */
.chatIconMessage {
    position: fixed;
    bottom: 70px;
    right: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1001; /* Assurez-vous que l'icône de message de chat est au-dessus du conteneur de chat */
}

/* Chat icon message show animation */
@keyframes slideInFromRight {
    from {
        right: -200px;
    }
    to {
        right: 5px;
    }
}
