.CVSelectionPage {
  margin: 20px auto;
  padding: 20px;
  max-width: 100%;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.cvContainer {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Augmente la largeur minimale pour correspondre au dashboard */
  gap: 20px;
  margin-top: 20px; /* Ajouté pour la cohérence avec le dashboard */
}

.cvItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajoute une ombre portée légère pour l'effet de flottaison */
  padding: 5px;
  height:490px; /* Hauteur fixe pour une cohérence visuelle */
  transition: transform 0.3s ease;
}

.cvItem:hover {
  transform: scale(1.05);
}

.cvImage {
  width: 100%;
  height: 400px; /* Hauteur fixe pour les images */
  object-fit: cover; /* S'assurer que l'image couvre l'espace disponible sans se déformer */
  border-radius: 5px;
}
