/* PasswordReset.css */
.glass-container {
  width: 80%;
  min-width: 870px;
  align-items: self-start;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: none; /* Remove the shadow */
  border-radius: 8px; /* Remove rounded corners */
  text-align: center;
}
.form_data {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 60%;
    align-items: center;
    margin-top: 10%;
  }
  
  .form_data h1 {
    font-size: 34px;
  }
  .glass-container {
    width: 80%; /* Le conteneur principal occupe 70% de la largeur de la page */
    min-width:  870px;
    margin: 30px auto; /* Centrage du conteneur avec une marge autour */
    background: rgba(255, 255, 255, 0.8); /* Exemple de fond semi-transparent */
    padding: 20px; /* Ajustez selon le besoin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Exemple 'ombre */
    border-radius: 8px; /* Bordures arrondies */
    text-align: center; /* Centrage horizontal du contenu */
    
  }
  
  
  .form_data p {
    color: #4a5568;
    font-size: 15px;
    margin-top: 9px;
  }
  
  .form_data label {
    font-weight: 500;
    font-size: 16px;
    position: sticky;font-weight: 500;
    font-size: 16spx;
    position: sticky;
  }
  
  .form_data input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
  }
  
  .form_data button {
    background-color: #1f4172;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
  }
  
  .form_data button.login_page {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  
  
  .form_data .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form_data .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .form_data .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, 0.04),
      0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
  
