/* PasswordReset.css */
.form_data {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 60%;
    align-items: center;
    margin-top: 10%;
  }
  
  .form_data h1 {
    font-size: 34px;
  }
  
  .form_data p {
    color: #4a5568;
    font-size: 15px;
    margin-top: 9px;
  }
  
  .form_data label {
    font-weight: 500;
    font-size: 16px;
    position: sticky;font-weight: 500;
    font-size: 16spx;
    position: sticky;
  }
  
  .form_data input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
  }
  
  .form_data button {
    background-color: #1f4172;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
  }
  
  .form_data button.login_page {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  
  
  .form_data .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form_data .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .form_data .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, 0.04),
      0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
  
