/* SignUp.css */
.signup_page{
  width:60%;
  align-items: center;
  margin-top: 30px;
}
/* Container styling */
div {
    margin: auto;
    width: 100%;
  }
form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    
  }
input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;   
  }
label{
    font-weight: 500;
    font-size: 16spx;
    position: sticky;
    margin-bottom: 5px;
    padding: 5px;
  }
.signup_page button{
  background-color: #1f4172;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 13px;
  width: 100%;
  height: auto;
  padding: 8px;
}

.signup_page button:hover {
    background-color: #4b6891;
  }
  .required-label::after {
    content: ' *';
    color: red;
  }
    