/* SignUp.css */
.signup_page {
  width: 60%;
  align-items: self-start;
  margin-top: 30px;
}

.glass-container {
  width: 80%; /* Le conteneur principal occupe 70% de la largeur de la page */
  min-width:  870px;
  align-items: self-start;
  margin: 20px auto; /* Centrage du conteneur avec une marge autour */
  background: rgba(255, 255, 255, 0.8); /* Exemple de fond semi-transparent */
  padding: 20px; /* Ajustez selon le besoin */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Exemple 'ombre */
  border-radius: 8px; /* Bordures arrondies */
  text-align: center; /* Centrage horizontal du contenu */
}

/* Container styling */
div {
  margin: auto;
  width: 100%;
  align-items: self-start;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: font-size 0.3s ease, color 0.3s ease, top 0.3s ease;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  border-color: #1f4172;
  box-shadow: 0 0 5px rgba(31, 65, 114, 0.5);
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  font-size: 12px;
  color: #1f4172;
  top: 0;
}

input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 14px;
  margin-top: 9px;
  font-size: 14px;
}

label {
  font-weight: 500;
  font-size: 16px; /* Fixed typo in font size */
  position: sticky;
  margin-bottom: 5px;
  padding: 5px;
}

.signup_page button {
  background-color: #1f4172;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 13px;
  width: 100%;
  height: auto;
  padding: 8px;
}

.signup_page button:hover {
  background-color: #4b6891;
}

.required-label::after {
  content: ' *';
  color: red;
}

/* Added styles for the country label and select box */
.signup_page select {
  width: 100%;
  padding: 5px;
  margin-top: 9px;
}

.signup_page label.required-label {
  margin-right: 10px;
}

.country-container {
  display: flex;
  align-items: center;
}

.country-dropdown {
  width: 100%;
}

.signup_page .phone-input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.signup_page .country-info {
  display: flex;
  align-items: center;
}

.signup_page .country-info .phone-code {
  margin-left: 5px;
}

.signup_page .phone-input {
  flex: 1;
  margin-left: 250px; 
  width:600px;
   /* Adjusted width for the phone input */
}

.signup_page .country-dropdown {
  width: 300px; /* Adjusted width for the country dropdown */
  margin-right: 13px; 
  
}
