/* VerificationPage.css */
.glass-container {
  width: 80%;
  min-width: 870px;
  align-items: self-start;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: none; /* Remove the shadow */
  border-radius: 8px; /* Remove rounded corners */
  text-align: center;
}
.verification_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .verification_heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .verification_input {
    margin-bottom: 20px;
  }
  
  .verification_input label {
    font-weight: 500;
    font-size: 16px;
    position: sticky;
  }
  
  .verification_input input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .btn {
    background-color: #1f4172;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0e2a4c;
  }
  
  /* Add more styling as needed */
  