.pageWrapper {
    padding: 6%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.messageContainer {
    display: flex;
    flex-direction: column-reverse; /* Inverser l'ordre des messages */
    align-items: flex-start;
    flex-grow: 1; /* Pour que le conteneur des messages prenne l'espace disponible */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    scroll-behavior: smooth; /* Faire défiler le conteneur de messages en douceur vers le haut */
}

.message {
    margin-top: 10px; /* Déplace les messages vers le haut */
    margin-bottom: 10px; /* Ajoute un espace en bas du dernier message */
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    position: relative;
}

.me {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.bot {
    background-color: #ece5dd;
    align-self: flex-start;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.inputContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa; /* Ajout d'un arrière-plan pour le champ d'entrée */
}

.inputField {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.sendButton {
    width: 70px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #0056b3;
}
