/* Container pour la page entière */
.pageWrapper {
    padding: 6%;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-y: auto;
}

/* Conteneur des messages */
.messageContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px; /* Ajouter un peu d'espace en bas */
}

/* Message box */
.message {
    margin: 5px;
    max-width: 70%;
    display: flex;
    flex-direction: column; /* Pour aligner la date et l'heure en dessous */
}

/* User message */
.me {
    align-self: flex-end;
}

/* Bot message */
.bot {
    align-self: flex-start;
}

/* Texte du message */
.messageText {
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    word-wrap: break-word; /* Ajout de la propriété pour gérer les messages longs */
}

/* Date du message */
.messageTimestamp {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
}

/* Couleur du texte de l'utilisateur */
.userMessage {
    background-color: #314fa0ba; /* Bleu */
    color: #fff !important; /* Blanc */
    border-radius: 20px; /* Coins arrondis */
    border: 1px solid  #ccc;
    margin: 3px;
}

/* Couleur du texte du chatbot */
.botMessage {
    background-color: #ece5dd; /* Gris clair */
    color: #000; /* Noir */
    border-radius: 20px; /* Coins arrondis */
    border: 1px solid #ccc;
    margin: 3px;
}

/* Input field */
.inputField {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

/* Container for input and buttons */
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;

}

/* Send button */
.sendButton, .listenButton, .micButton {
    padding: 10px;
    margin-left: 10px; /* Espacement à gauche des boutons */
    background-color: #1d3063; /* Bleu */
    color: #fff;
    border: none;
    border-radius: 50%; /* Coins arrondis pour les boutons */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Taille carrée */
    height: 40px; /* Taille carrée */
    font-size: 18px; /* Ajuster la taille de l'icône */
}

/* Modifier la couleur des boutons au survol */
.sendButton:hover, .listenButton:hover, .micButton:hover {
    background-color: #374785;
}
