/* Container pour la page entière */
.pageWrapper {
    padding: 6%;
    display: flex;
    flex-direction: column-reverse; /* Afficher les messages de bas en haut */
    height: 100vh; /* Hauteur de la vue à 100% de la hauteur de l'écran */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

/* Message box */
.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Message */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    position: relative; /* Permet de positionner la date et l'heure par rapport au message */
}

/* User message */
.me {
    background-color: #007bff; 
    color: #fff; 
    align-self: flex-end;
}

/* Bot message */
.bot {
    background-color: #ece5dd; 
    align-self: flex-start;
}

/* Date and time */
.timestamp {
    font-size: 0.8em;
    color: #666;
    position: absolute;
    bottom: -20px;
    left: 0;
}

/* Input field */
.inputField {
    width: calc(100% - 100px); /* Prendre la largeur restante après avoir soustrait la largeur du bouton envoyer */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Coins arrondis */
}

/* Send button */
.sendButton {
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px; /* Espacement à gauche du bouton envoyer */
    background-color: #007bff; /* blue */
    color: #fff;
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
}

/* Send button hover */
.sendButton:hover {
    background-color: #0056b3; /* Darker blue */
}
