.cv-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Augmenter la largeur minimale des conteneurs */
  gap: 20px;
  margin-top: 20px; /* Espacement au-dessus de la première ligne */
}

.cv-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Répartit l'espace verticalement */
  background: #fff; /* Couleur de fond blanc */
  border-radius: 10px; /* Arrondir les coins */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée légère */
  padding: 5px;
  height: 450px; /* Hauteur fixe pour tous les conteneurs */
}

.cv-image {
  width: 100%;
  height: 350px; /* Hauteur fixe pour les images */
  object-fit: cover; /* S'assurer que l'image couvre l'espace disponible sans se déformer */
  border-radius: 5px; /* Coins arrondis pour les images */
}

.cv-details {
  padding-top: 10px;
}

.cv-title {
  font-size: 18px;
  margin-bottom: 5px; /* Réduit la marge en dessous du titre */
}

.cv-actions {
  display: flex;
  justify-content: flex-end;
}

.action-icon {
  cursor: pointer;
  margin-left: 10px;
}
