/* dashboardPage.module.css */

/* Style for the print area */
.print-area {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Style for the left area */
.left-area {
  background: #070c17; 
  padding: 10px; 
  overflow-y: auto;
  width: 200px; 
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  width: 300px;
  border-radius: 10px;
}
/* Style for the right area */
.right-area {
  position: fixed;
  top: 10%;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 40px;
  overflow-y: auto;
  width: calc(100% - 300px); /* Calculez la largeur de la partie droite en soustrayant la largeur de la partie gauche */
}

/* Style for the question mark icon */
.question-icon {
  margin-left: 225px;
}

.question-icon-style {
  color: rgba(255, 255, 255, 0.851);
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

/* Style for the new button */
.new-button {
  margin-top: 20px;
  background-color: #f1b4bb;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.new-button:hover {
  background-color: #d89ea4;
}

/* Style for the clickable list */
.clickable-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.clickable-list li {
  padding: 8px 30px; 
  margin-bottom: 5px; 
  cursor: pointer;
  color: white;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.clickable-list li i {
  margin-right: 10px;
  font-weight: 600;
}

/* Style for the selected item */
.selected {
  background-color: #4a4a4a5e;
  border-radius: 5px;
}

/* Style for the alert area */
.alert-area {
  position: fixed;
  top: 14%;
  right: 0;
  background-color: white;
  overflow-y: auto;
  width: 400px; /* Réduire la largeur de l'alerte */
  height: calc(100% - 14%);
  border-radius: 10px; /* Ajouter des coins arrondis */
  border: 2px solid #ccc; /* Ajouter une bordure */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
}

.alert-area .top-area {
  padding: 5px;
  display: flex;
  justify-content: space-between; /* Aligner le contenu à l'extrémité */
  align-items: center; /* Centrer verticalement */
}

.alert-area button {
  border: none;
  background-color:#132043;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.alert-area button:hover {
  background-color: #1d3063;
}

/* Ajoutez cette règle pour aligner le bouton à droite */
.alert-area .top-area button {
  margin-left: auto;
}
/* dashboardPage.module.css */

.alert-area .buttom-area {
  padding: 15px;
}
.alert-area .buttom-area input {
  margin-bottom: 10px;
  padding: 8px;
  border: 0.3px solid #ccc;
  border-radius: 5px;
  width: calc(60% - 10px); /* Réduisez la largeur de l'entrée pour laisser de la place pour la marge */
}

.alert-area .buttom-area button {
  border: none;
  background-color: #132043;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.alert-area .buttom-area button:hover {
  background-color: #1d3063;
}

.alert-area .buttom-area h1 {
  margin-top: 10px;
  font-weight: bold;

}
.questions {
  margin-top: 10px;
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  padding: 20px; /* Espace intérieur */
  margin-bottom: 20px; /* Marge en bas */
}

.questions ul {
  list-style: none; /* Pas de puces */
  padding: 0; /* Supprimer le remplissage par défaut */
}

.questions li {
  margin-bottom: 20px; /* Marge en bas pour chaque élément */
  cursor: pointer; /* Curseur pointer pour montrer qu'ils sont cliquables */
  border: 2px solid #f0f0f0; /* Utiliser une bordure à gauche pour correspondre au style */
}

.questions li:hover {
  background-color: #f0f0f0; /* Changement de couleur au survol */
}

.questions h4 {
  margin-top: 0; /* Supprimer la marge supérieure par défaut */
}

.questions p {
  margin-bottom: 0; /* Supprimer la marge inférieure par défaut */
}
