/* Style for the entire page container */
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
 
}

/* Style for the content area (excluding footer) */
.content-area {
  display: flex;
  flex-grow: 1;
  overflow-y: auto; /* Hide overflow to prevent scrolling on the content area */
}

/* Style for the left area */
.left-area {
  background: #132043; 
  padding: 10px; 
  overflow-y: auto;
  width: 300px;
  border-radius: 10px;
  position: sticky;
  top: 0; /* Stick to the top */
  height: 100vh; /* Take full viewport height */
}

/* Style for the right area */
.right-area {
  background: #fff;
  padding: 40px;
  overflow-y: auto;
  width: calc(100% - 300px);
}

/* Style for the question mark icon */
.question-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.question-icon-style {
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.question-icon-style:hover {
  color: #ccc;
  border-color: #ccc;
}

/* Style for the new button */
.new-button {
  margin-top: 20px;
  background-color: #ccc;
  color: #1b1f38;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s;
}

.new-button:hover {
  background-color: #d89ea4;
}

/* Style for the clickable list */
.clickable-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.clickable-list li {
  padding: 12px 30px; 
  margin-bottom: 10px; 
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #2e3256;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
}

.clickable-list li i {
  margin-right: 10px;
  font-weight: 600;
  color: #ccc;
}

.clickable-list li:hover {
  background-color: #4a4a4a5e;
  transform: scale(1.05);
}

/* Style for the selected item */
.selected {
  background-color: #4a4a4a5e;
}

/* Style for the alert area */
.alert-area {
  position: fixed;
  top:10%;
  right: 0;
  background-color: white;
  overflow-y: auto;
  width: 400px; /* Reduce the width of the alert */
  height: calc(100% - 14%);
  border-radius: 10px; /* Add rounded corners */
  border: 2px solid #ccc; /* Add a border */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a shadow */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.alert-area .top-area {
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Align content to end */
  align-items: center; /* Vertically center */
  background-color: #132043;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.alert-area .top-area button {
  border: none;
  background: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.alert-area .top-area button:hover {
  color: #ccc;
}

.alert-area .buttom-area {
  padding: 15px;
}

.alert-area .buttom-area input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(60% - 10px); /* Reduce the width of the input to make room for margin */
}

.alert-area .buttom-area button {
  border: none;
  background-color: #132043;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.alert-area .buttom-area button:hover {
  background-color: #1d3063;
}

.alert-area .buttom-area h1 {
  margin-top: 10px;
  font-weight: bold;
  color: #132043;
}

.questions {
  margin-top: 10px;
  border: 1px solid #ccc; /* Grey border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Inner space */
  margin-bottom: 20px; /* Bottom margin */
}

.questions ul {
  list-style: none; /* No bullets */
  padding: 0; /* Remove default padding */
}

.questions li {
  margin-bottom: 20px; /* Bottom margin for each item */
  cursor: pointer; /* Pointer cursor to show they are clickable */
  border: 2px solid #ccc; /* Use a border to match the style */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.questions li:hover {
  background-color: #f0f0f0; /* Change color on hover */
  transform: scale(1.02);
}

.questions h4 {
  margin-top: 0; /* Remove default top margin */
}

.questions p {
  margin-bottom: 0; /* Remove default bottom margin */
}

/* Style for the footer */
.footer {
  background-color: #f0f0f0;
  color: black;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #ccc;
}
