.cv-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Répéter les colonnes automatiquement */
    gap: 20px; /* Espacement entre les éléments de la grille */
  }
  
  .cv-item {
    border: 1px solid #ccc; /* Bordure autour de chaque élément */
    padding: 20px; /* Espacement intérieur */
  }
  
  .cv-details {
    padding-top: 10px; /* Espacement en haut du détail du CV */
  }
  
  .cv-image {
    width: 100%; /* Pour que l'image occupe toute la largeur de l'élément parent */
    height: auto; /* Hauteur automatique pour conserver les proportions de l'image */
  }
  
  .cv-title {
    font-size: 18px; /* Taille de police du titre */
    margin-bottom: 10px; /* Marge en bas du titre */
  }
  
  .cv-actions {
    display: flex; /* Afficher les actions dans une ligne */
    justify-content: flex-end; /* Aligner les actions à droite */
  }
  
  .action-icon {
    cursor: pointer; /* Curseur pointer pour indiquer que l'icône est cliquable */
    margin-left: 10px; /* Marge à gauche de l'icône */
  }
  