:root {
  --primary-color: #1f4172;
  --secondary-color: #1f4172;
  
  --text-color: #333;
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition-duration: 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

.form {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--text-color);
}

.input, .select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  transition: border-color var(--transition-duration);
}

.input:focus, .select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button {
  width: 100%;
  padding: 14px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 16px;
  transition: background-color var(--transition-duration);
}

.button:hover {
  background-color: var(--secondary-color);
}

.loading, .error {
  color: #ff0000;
  font-size: 16px;
  text-align: center;
}

.resultsTitle {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.jobContainer {
  border: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: #fff;
  transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.jobContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.jobHeader {
  margin-bottom: 10px;
}

.jobDescription {
  display: none;
  margin-top: 10px;
}

.jobContainer:hover .jobDescription, .jobContainer:focus .jobDescription, .jobContainer:active .jobDescription {
  display: block;
}
