.cookies-container {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assure que le conteneur est au-dessus du contenu existant */
}

.cookies-content {
  
  width: 100%; /* S'assure que le contenu prend toute la largeur disponible */
  padding: 20px;
  background-color: white;
  border-radius: 8px 8px 0 0; /* Coins arrondis en haut seulement */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}



.cookies-icon {
  width: 32px;
  height: 32px;
}

.cookies-reject {
  color: #21759b;
  text-decoration: none;
  margin-left: 1300px;
  padding-bottom: 5px; /* Ajoute un peu d'espace entre le texte et la ligne */
  border-bottom: 2px solid #333; /* Ajoute une ligne sous le texte */
}

.cookies-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0; /* Supprime le margin-top si nécessaire */
}

.cookies-text {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  text-align: center; /* Centre le texte horizontalement */
}


.cookies-accept {
  margin: 0;
 
  padding: 10px 20px;
  border: none;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
 
}
.button{
  margin-left: 1100px;
  margin: 0;
}