.cookies-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 1000; /* Assure que le conteneur est au-dessus du contenu existant */
}

.cookies-content {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cookies-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookies-icon {
  width: 32px;
  height: 32px;
}

.cookies-reject {
  color: gray;
  text-decoration: none;
}

.cookies-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.cookies-text {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.cookies-accept {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color:  #F1B4BB;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
