/* General container style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF; /* White background for the whole container */
}

/* Hero section style */
.hero {
  text-align: center;
  padding: 20px 20px;
  background-color: #FFF; /* White background */
  color: #132043; /* Dark blue text for contrast */
  border-radius: 8px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.createButton {
  background-color: #F1B4BB; /* Pink button */
  color: #FFF;
  font-size: 1.1em;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.createButton:hover {
  background-color: #f8d7da; /* Lighter pink on hover */
}

/* CV list styles */
.cvListHorizontal {
  display: flex;
  gap: 20px;
  padding: 10px; /* Restored original padding */
  overflow-x: auto;
  align-items: center;
}

.cvListHorizontal::-webkit-scrollbar {
  height: 8px;
}

.cvListHorizontal::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.cvListHorizontal::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}

.cvItem {
  flex: 0 0 auto;
  width: calc(25% - 20px); /* Restored original width */
  max-height: 400px; /* Restored original height */
  background-color: #f3f4f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cvItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cvImage {
  width: 100%;
  height: auto;
  display: block;
}

.cvTitle {
  padding: 10px;
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.models {
  padding: 20px 0;
}
.models h1 {
  
  margin-bottom: 20px;
}
/* Footer styles */
.footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.footer p, .footer button {
  color: #132043;
  margin: 10px 0;
}

.downloadButton {
  color: #040404;
  
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #1F4172; /* Slightly darker blue on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero, .models, .footer {
    padding: 20px;
  }

  .createButton, .downloadButton {
    padding: 10px 15px;
  }

  .cvListHorizontal {
    gap: 10px;
  }

  .hero h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 1em;
  }
}
.descriptionContainer {
  max-width: 800px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  padding: 30px; /* Espacement intérieur du conteneur */
  background-color: #f9f9f9; /* Couleur de fond du conteneur */
  border-radius: 10px; /* Bord arrondi du conteneur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  margin-bottom: 15px;
}

.description {
  color: #132043; /* Couleur du texte */
  font-size: 20px; /* Taille de la police */
  line-height: 1.6; /* Hauteur de ligne */
  opacity: 0; /* Opacité initiale à 0 pour l'animation */
  transition: opacity 0.5s ease; /* Transition de l'opacité pour l'animation */
}

.show {
  opacity: 1; /* Opacité à 1 pour afficher le texte */
}


.typing-animation::after {
  content: "|"; /* Afficher un curseur clignotant */
  animation: blink-caret 0.75s step-end infinite alternate; /* Animation du curseur clignotant */
}

@keyframes blink-caret {
  from, to {
    color: transparent; /* Rendre le curseur clignotant invisible */
  }
  50% {
    color: black; /* Rendre le curseur clignotant visible */
  }
}
/* Styles pour l'icône du chatbot */
/* Styles pour le conteneur de l'icône du chatbot */
.chatIconContainer {
  width: 100px; /* Largeur du conteneur */
  height: 100px; /* Hauteur du conteneur */
}
.chatIcon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease; /* Ajouter une transition pour un mouvement fluide */
  width: 5%; /* Ajuster la largeur */
  height: 10%; /* Ajuster la hauteur */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Ajuster la taille de la police */
  animation: pulseAnimation 2s infinite; /* Ajouter l'animation de pulsation */
}


/* Styles pour le conteneur du chatbot */
.chatContainer {
  position: fixed;
  bottom: 150px;
  overflow-y:auto ;
  right: 50px;
  z-index: 999; /* Assure que le conteneur du chatbot est au-dessus de l'icône */
  background-color: #ffffff; /* Couleur de fond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
  border-radius: 10px; /* Coins arrondis */
  max-height: 70%; /* Hauteur maximale du conteneur */
  width:25%; /* Largeur du conteneur */
  height: 60%;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Ajoute une transition fluide */
}

/* Styles pour le chatbot lui-même */
.Chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Ajouter un espacement intérieur */
}

/* Styles pour la page d'accueil */
.container {
  position: relative; /* Permet de positionner les éléments enfants par rapport à celui-ci */
  z-index: 1; /* Assure que le contenu de la page d'accueil est affiché au-dessus du chatbot */
}

/* Styles pour l'overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  z-index: 998; /* Assure que l'overlay est affiché en dessous du chatbot mais au-dessus du contenu de la page d'accueil */
  display: none; /* Masque par défaut l'overlay */
}
.overlay.active {
  display: block; /* Affiche l'overlay lorsque la classe active est présente */
}
.chatIcon:hover {
  transform: scale(1.1); /* Fait grossir l'icône lorsqu'elle est survolée */
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1); /* Taille de départ */
  }
  50% {
    transform: scale(1.1); /* Taille maximale à mi-chemin */
  }
  100% {
    transform: scale(1); /* Retour à la taille de départ */
  }
}

/* Styles pour la bulle de discussion */
.chatIcon::before {
  content: attr(data-message); /* Affiche le contenu dynamique */
  position: absolute;
  bottom: calc(100% + 10px);
  right: 50%;
  transform: translateX(50%);
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chatIcon:hover::before {
  opacity: 1;
}

.chatIconContainer {
  position: relative; /* Ajouté pour positionner correctement le message par rapport à l'icône */
}

.chatIconMessage {
  bottom: 50px; /* Distance au-dessus de l'icône */
  transform: translateX(-50%);
  background-color: #d5d5d5;
  padding: 12px 20px;
  border-radius: 10px; /* Bordures arrondies pour la bulle */
  font-size: 16px;
  color: #333;
  white-space:initial;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex; 
  position: fixed;
  bottom: 150px;
  right:50px;
  width: 160px;
  z-index: 999; 
}

.chatIconMessage::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #bebebe transparent transparent transparent;
  transform: translateX(-50%);
}
