/* General container style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section style */
.hero {
  text-align: center;
  padding: 20px 0;
}

.hero h1 {
  color: #132043;
  margin-bottom: 20px;
}

.hero p {
  color: #1F4172;
}

.createButton {
  background-color: #132043;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #1F4172;
}

/* CV list styles */
.cvListHorizontal {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
}

.cvListHorizontal::-webkit-scrollbar {
  width: 4px;
}

.cvListHorizontal::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.cvListHorizontal::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  
}

.cvItem {
  flex: 0 0 auto; /* Prévient l'agrandissement des items mais permet leur rétrécissement */
  width: calc(25% - 20px); /* Réduit la largeur pour afficher 4 éléments dans une rangée, ajustez le -20px en fonction du 'gap' */
  max-height: 400px; /* Ajustez cette valeur pour contrôler la hauteur */
  background-color: #f3f4f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cvItem:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cvImage {
  width: 100%;
  height: auto;
  display: block;
}

.cvTitle {
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.models {
  padding: 20px 0;
  margin-top: -300px;
  text-align: center;
}

/* Footer styles */
.footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer p, .footer button {
  color: #132043;
  margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero, .models, .footer {
    padding: 10px;
  }

  .createButton, .downloadButton {
    padding: 8px 16px;
  }

  .cvListHorizontal {
    gap: 15px;
  }
}
