/* styles.css */

.container {
  width: 100%;
}

.glass-container {
  display: grid;
  width: 70%;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.profile_img {
  width: 100px; /* Taille de l'image de profil */
  height: 100px; /* Taille de l'image de profil */
  object-fit: cover;
  border-radius: 50%;
}

.edit-image-button {
  position: absolute;
  bottom: 0;
  right: 120px; /* Ajustement de la position horizontale */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
}

.edit-image-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: scale(1.1);
}

.profile-details {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.profile-info h2 {
  margin-bottom: 5px;
}

.email {
  font-weight: lighter;
  color: #666; /* Couleur du texte de l'email */
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  margin-top: 0;
}

.label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 0;
}

.input:focus {
  border-color: #1f4172; /* Couleur de la bordure lorsqu'un champ est sélectionné */
  box-shadow: 0 0 5px rgba(31, 65, 114, 0.5); /* Ombre autour du champ lorsqu'il est sélectionné */
}

.full-width {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  background-color: #1f4172;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.success {
  background-color: #32cd32; /* Couleur de fond pour le message de succès */
  color: white;
}
