.container {
    width: 100%; /* Assure que le conteneur prend toute la largeur */
}

.glass-container {
    width: 70%; /* Le conteneur principal occupe 70% de la largeur de la page */
    margin: 20px auto; /* Centrage du conteneur avec une marge autour */
    background: rgba(255, 255, 255, 0.8); /* Exemple de fond semi-transparent */
    padding: 20px; /* Ajustez selon le besoin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Exemple 'ombre */
    border-radius: 8px; /* Bordures arrondies */
    text-align: center; /* Centrage horizontal du contenu */
}

.profile-container {
    display: flex;
    justify-content: space-between; /* Alignement des éléments à l'extrémité */
    align-items: center; /* Alignement vertical au centre */
    margin-top: 30px; /* Ajout de marge au-dessus du profil */
}

.profile_img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 40%;
    padding: 8px;
    margin: 20px;
}

.input, .full-width {
    padding: 8px;
    margin: 4px;
}

.input {
    width: calc(50% - 8px);
}

.full-width {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    background-color: #1f4172;
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Assure que le bouton est centré s'il est seul */
    margin: 10px auto; /* Centrage du bouton */
}

.edit-image-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: -30px;
    margin-top: -70px;
}

.edit-image-button:hover {
    transform: scale(1.1);
}
