* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .print-area {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Augmentation de la largeur maximale */
    min-height: 1000px;
    background: #fff;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; /* Ajout d'une marge entre les colonnes */
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  }
  
  .container .left_Side {
    position: relative;
    background: hsl(199, 100%, 14%);
    padding: 40px;
    margin-top: -0px;
    height: 100%;
  }
  
  .container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
    height: 100%;
    margin-right: 50px;
  }
  
  .profilText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .profilText .imgBx {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px; /* Ajout d'une marge en bas */
  }
  
  .profilText .imgBx img {
    width: 100%;
  }
  
  .profilText h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  
  .profilText h2 span {
    font-size: 16px;
    font-weight: 400;
    color: #02a1d6;
    display: block;
  }
  
  .contactInfo .title {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
    color: #02a1d6;
  }
  
  .contactInfo ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  .contactInfo ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contactInfo ul li .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02a1d6;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contactInfo ul li .icon i {
    color: #fff;
  }
  
  .contactInfo ul li .text {
    font-size: 16px;
    font-weight: 400;
    color: #555;
  }
  
  .about {
    margin-bottom: 50px;
  }
  
  .about:last-child {
    margin-bottom: 0;
  }
  
  .title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  /* Styles for the Education section */
.contactInfo.education {
  margin: 30px 0;
  margin-top: 20px; /* Ajoute une marge en haut */
}

.contactInfo.education .title {
  margin: 30px 0;
  color: #02a1d6;
  font-size: 24px;
  margin-bottom: 20px;
}

.contactInfo.education ul li {
  margin-bottom: 20px; /* Augmente la marge entre les éléments de la liste */
  display: grid;
  padding: 10px;

}

.contactInfo.education ul li h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color:#fff;
  text-align: left;
  

}

.contactInfo.education ul li h4:nth-child(2){
  font-size: 16px;
  font-weight: 400;
  color: #555;
  
}
.contactInfo.education ul li h4 {
  font-size: 16px;
  font-weight: 200;
  color: #555;
}
/* Styles for the Languages section */
.contactInfo.languages {
  margin-top: 40px; /* Ajoute une marge en haut */
}


.contactInfo.languages .title {
    margin: 30px 0;
    color: #02a1d6;
    font-size: 24px;
    margin-bottom: 20px;
}

.contactInfo.languages ul li {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: grid;
}

.contactInfo.languages ul li .text {
    font-size: 16px;
    font-weight: 400;
    color: #555;
}

.contactInfo.languages ul li .percent {
    position: relative;
    width: 200px;
    height: 10px;
    background: #0c0c0c;
   

}
.contactInfo.languages .percent div{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #03a9f4;
   
}
  
.skills .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4{
 text-transform: uppercase;
 color: #848c99;
 font-weight: 500;
}
.skills .box  .precent{
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}
.skills .box .precent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
.about.interest {
  margin-bottom: 50px;
}


.about.interest ul {
display: grid;
grid-template-columns: repeat(4,1fr);
}

.about.interest ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}

.about.interest ul li i {
  margin-right: 10px;
}
.interest ul li .fa{
 color: #03a9f4;
 font-size: 18px;
}

.about.interest ul li i::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.about.interest ul li i.fa-gamepad::before {
  content: "\f11b"; /* Code pour l'icône de gaming */
}

.about.interest ul li i.fa-microphone::before {
  content: "\f130"; /* Code pour l'icône de microphone */
}

.about.interest ul li i.fa-book::before {
  content: "\f02d"; /* Code pour l'icône de livre */
}
